body {
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
li {
  list-style-type: none;
}
